@using Website.ExtensionMethod
@model Service.DTO.ProductDto
@{
    

    Layout = "~/Views/_Layout/_Index.cshtml";
}
<link href="~/Contents/Styles/ProductDetail.css" rel="stylesheet" />
<script src="~/Contents/Scripts/jquery-ui-1.10.3.custom.min.js"></script>

<title>@ViewBag.Title </title>
@if (Model != null)
{
    <div id="content">
        <h1>@Model.Name</h1>
        <div class="product-info">
            <div class="left">
                <div class="image">
                    <a href="@Model.Image" title="@Model.Name" class="colorbox" rel="colorbox">
                        <img src="@Model.Image" title="@Model.Name" alt="@Model.Name" id="image" /></a>
                </div>
                <a title="Test" class="cart-button" href="/Home/contact">Đặt Hàng</a>
            </div>
            <div class="right">
                <div class="price">
                    Giá:       @Localizer.Currency(Model.Price ?? 0)
                <br />

                </div>
                <div class="description">
                    <span>Mã sản phẩm:</span> @Model.Code<br />
                    <span>Tình trạng:</span> Còn hàng
                <br />
                    <span>Chi Tiết:</span> @Model.Description
                </div>
                <div>
                </div>

            </div>

        </div>

        <script>
            $(function () {
                $("#tabs").tabs();
            });
        </script>
    </div>
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Đánh Giá</a></li>
            <li><a href="#tabs-2">Đặt Hàng</a></li>
        </ul>
        <div id="tabs-1">
            <div id="tab-review" class="tab-content">
                
                <h2 id="review-title">Viết đánh giá</h2>
                <b>Tên bạn:</b><br />
                <input type="text" name="name" value="" />
                <br />
                <br />
                <b>Đánh giá của bạn:</b>
                <textarea name="text" cols="40" rows="8" style="width: 98%;"></textarea>
                <span style="font-size: 11px;"><span style="color: #FF0000;">Lưu ý:</span> không hỗ trợ HTML!</span><br />
                
                <br />
                
                <div class="buttons">
                    <div class="right"><a id="button-review" class="button">Tiếp tục</a></div>
                </div>
            </div>
        </div>
        <div id="tabs-2">
            
        </div>
    </div>
    

}

