@Model Service.DTO.ProductDto
@{
    

    Layout = "~/Views/_Layout/_Index.cshtml";
}
<link href="~/Contents/Styles/ProductDetail.css" rel="stylesheet" />

<title>@ViewBag.Title </title>
@if (Model != null)
{
    <h3>@Model.Name</h3>
<table id="d-product">
    <tr>
        <td id="d-product-image">
            <img src="@Model.Image" />
            <div id="" />
        </td>
        <td id="d-product-overview">
            <div class="d-product-overview-part">
                Giá: @Model.Price VNĐ

            </div>
            @*<div class="d-product-overview-part">
                Giá: @productPrice VNĐ

            </div>*@
            <div class="d-product-overview-part">
                Mã sản phẩm: @Model.Code
                <br />
                Tình trạng: "Còn hàng"

            </div>
            <div class="d-product-overview-part">
                <input type="button" name="Đặt hàng" title="Đặt hàng" />
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <!-- Mô tả -->
        </td>
    </tr>
    <tr>

        <td colspan="2">
            <!-- Sản phẩm liên quan -->
        </td>
    </tr>


</table>
}

