@using Website.ExtensionMethod
@model IList<Service.DTO.ProductDto>
@{
    ViewBag.Title = "SearchPoducts";
    Layout = "~/Views/_Layout/_Index.cshtml";
}


<link href="~/Contents/Styles/ProductList.css" rel="stylesheet" />


@if (Model != null && Model.Any())
{

    <div class="line-top"></div>
    <div class="product-grid">
        @foreach (var product in Model)
        {
            <div>
                <div class="prod-image">
                    <a href="@Url.Action("ProductDetail","Home")?productCode=@product.Code">
                        <img src="@Url.Image("image.jpg")" title="" alt="" style="width:180px;height:100px;" width="180" height="100"/>
                    </a>
                </div>
                <div class="prod-name">
                    <a href="@Url.Action("ProductDetail","Home")?productCode=@product.Code">@product.Name</a>
                </div>
                <div class="prod-price">@Localizer.Currency(product.Price ?? 0) </div>
            </div>
        }
    </div>
    <div class="line-bottom"></div>
}

