@using Website.ExtensionMethod
@model Service.DTO.ProductDto
@{
    

    Layout = "~/Views/_Layout/_Index.cshtml";
}
<link href="~/Contents/Styles/ProductDetail.css" rel="stylesheet" />
<script src="~/Contents/Scripts/jquery-ui-1.10.3.custom.min.js"></script>
<script src="@Url.Content("~/ckeditor/ckeditor.js")" type="text/javascript"></script>
<title>@ViewBag.Title </title>
@if (Model != null)
{
    <div id="content">
        <h1 style="color: #a55b0c;">@Model.Name</h1>
        <div class="product-info">
            <div class="left">
                <div class="image">
                    <a href="#" title="@Model.Name" class="colorbox" rel="colorbox">
                        <img src="@Url.ImageProduct(Model.Image)" width="230" height="180" title="@Model.Name" alt="@Model.Name" id="image" /></a>
                </div>

            </div>
            <div class="right">
                <div class="price">
                    Giá:       @Localizer.Currency(Model.Price ?? 0)
                    <br />

                </div>
                <div class="description">
                    <span>Mã sản phẩm:</span> @Model.Code<br />
                    <span>Tình trạng:</span> Còn hàng
                <br />
                    <span>Chi Tiết:</span>
                    <div>@Html.Raw(Model.Description)</div>
                </div>
                <div>
                </div>

            </div>

        </div>

        <script>
            $(function () {
                $("#tabs").tabs();
            });
        </script>
    </div>
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Đánh Giá</a></li>
            <li><a href="#tabs-2">Đặt Hàng</a></li>
        </ul>
        <div id="tabs-1">
            @Html.Action("Comment", "Component", new { productId = Model.Id})
            <hr />
            @Html.Action("CommentList", "Component", new { productId = Model.Id})
        </div>
        <div id="tabs-2">
            <form action="http://vitinhantin.com/contact" method="post" enctype="multipart/form-data">
                <div class="contact-info">
                    <div class="content">
                        <div class="left">
                            <h1>Vi Tính Trần Bảo</h1>
                            <br />
                            <b>Địa chỉ:</b>61/6m Phạm Văn Chiêu, Phường 14, Quận Gò Vấp, Tp Hồ Chí Minh<br />
                            <b>Yahoo</b>: tran_bao16<br />
                            <b>Email</b>: tranbaolaptop@gmail.com
                        </div>
                        <div class="right">
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <b>Tel</b><br />
                            0932061639<br />
                            <br />
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <h2>Thông tin của Bạn</h2>
                <div class="content">
                    <b>Họ và Tên:</b><br />
                    <input type="text" name="name" value="" />
                    <br />
                    <br />
                    <b>E-Mail :</b><br />
                    <input type="text" name="email" value="" />
                    <br />
                    <br />
                    <b>Địa chỉ :</b><br />
                    <input type="text" name="address" value="" />
                    <br />
                    <br />
                    <b>Điện Thoại<font color="#ff0000">(*)</font> :</b><br />
                    <input type="text" name="email" value="" />
                    <br />
                    <br />
                    <b>Nội dung:</b><br />
                    <textarea name="enquiry" cols="40" rows="10" style="width: 99%;"></textarea>
                    <br />
                    <br />

                </div>
                <div class="buttons">
                    <div class="right"><a id="button-review" class="button">Tiếp tục</a></div>
                </div>
            </form>
        </div>
    </div>
    

}

