@using Website.ExtensionMethod
@model IList<Service.DTO.CategoryDto>
@{
    ViewBag.Title = "Thêm sản phẩm mới";
    Layout = "~/Views/_Layout/_Admin.cshtml";
}
<script type="text/javascript">

    function setValue() {
        var name = $("#id-name").val();
        var code = $("#id-code").val();
        var category = $("#id-category").val();
        var price = $("#id-price").val();
        //var desc = $("#id-desc").val();

        $("#hid_name").val(name);
        $("#hid_code").val(code);
        $("#hid_category").val(category);
        $("#hid_price").val(price);
        //$("#hid_desc").val(desc);
        return true;
    }

</script>
<div class="product-info">

    <article class="module width_full">
        <header>

            <h3>Tạo sản phẩm mới

            </h3>

        </header>
        <div class="module_content">
            <fieldset>

                <label>Tên sản phẩm </label>
                <input type="text" id="id-name" />

            </fieldset>
            <table style="width: 100%;">
                <tr>
                    <td style="width: 250px; vertical-align: bottom;">
                        @using (Html.BeginForm("AddProduct", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <fieldset style="padding-left: 20px;">
                                <label>Hình ảnh</label>
                                <img src="@ViewBag.Href" width="200" height="140" style="width:200px;height:140px;" id="image" />
                                <div class="clear" style="height: 10px"></div>
                                <input type="file" name="file" id="file" />
                                <div class="clear" style="height: 10px"></div>
                                <input type="submit" value="Upload Image" />

                            </fieldset>
                        }

                    </td>
                    <td style="vertical-align: top">

                        <fieldset style="padding-right: 10px;">
                            <label>Danh mục</label>
                            <select id="id-category">
                                @{
                                    foreach (var cat in Model)
                                    {
                                    <option value="@cat.CategoryId">@cat.name</option>
                                    }   
                                }
                            </select>

                            <div class="clear" style="height: 10px"></div>
                            <label>Mã sản phẩm</label>
                            <input type="text" id="id-code" />
                            <div class="clear" style="height: 10px"></div>
                            <label>Giá</label>
                            <input type="text" id="id-price" />

                            <div class="clear" style="height: 10px"></div>
                            <input type="reset" style="float: right" value="Clear" />
                        </fieldset>

                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <form method="post" id="submitPost" action="@Url.Action("AddProductRequest", "Request")" >
                            <h2>Mô tả</h2>
                            <textarea id="id-desc" name="desc" class="ckeditor" rows="8"></textarea>

                            <div style="display: none">
                                <input type="text" name="name" id="hid_name" />
                                <input type="text" name="code" id="hid_code" />
                                <input type="text" name="category" id="hid_category" />
                                <input type="text" name="price" id="hid_price" />
                                <input type="text" value="@ViewBag.Image" name="image" id="hid_image"/>

                            </div>
                            <div style="margin: 10px auto; width: 200px;">
                                <input class="alt_btn" type="submit" onclick="setValue();" value="Thêm sản phẩm" />

                            </div>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <footer>
        </footer>
    </article>
</div>

