@using Website.ExtensionMethod
@{
    Layout = null;
}

<!DOCTYPE html>
<!-- @Url.Image("Banner") -->


<!-- Style -->
<link href="~/Contents/Styles/reset.css" rel="stylesheet" type="text/css" />
<link href="~/Contents/Styles/Main.css" rel="stylesheet" type="text/css" />
<link href="~/Contents/Styles/LeftPanel.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/Contents/Scripts/supermenu.js"></script>
<link rel="stylesheet" type="text/css" href="~/Contents/Styles/supermenu.css" />



<!-- Script -->
<script src="~/Contents/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {


        $.ajax({
            url: '/ComponentLeftPanel/ProductNewest',
            success: function (result) {
                $("#ajaxProductNewest").html(result);
            },
            error: function () {
            }

        });
        $.ajax({
            url: '/ComponentRightPanel/Advertising',
            success: function (result) {
                $("#ajaxAdvertising").html(result);
            },
            error: function () {
            }
        });

        $.ajax({
            url: '/ComponentLeftPanel/Category',
            success: function (result) {
                $("#ajaxCategory").html(result);
            },
            error: function () {
            }
        });

        $.ajax({
            url: '/ComponentRightPanel/Category',
            success: function (result) {
                $("#ajaxCategoryRight").html(result);
            },
            error: function () {
            }
        });
    });
</script>
<div id="d-page">
    <div id="d-header">
        <!-- Include Logo, Shop Name -->
        @Html.Action("Header", "ComponentHome")
    </div>
    <div id="d-content">

        <div id="d-banner">
            <!-- Include Banner -->
            @*@Html.Action("Banner", "ComponentHome")*@
        </div>
        <div id="d-body">
            <div id="d-topmennu">
                <!-- Top menu -->
                @Html.Action("TopMenu", "ComponentMenu")


            </div>

            <!-- Include left Panel, Center Panel, Right Panel -->
            <table id="d-table-main">
                <tr>
                    <td>
                        <div id="d-left">
                            <!-- Render section left -->
                            <div id="ajaxCategory"></div>
                            @*@Html.Action("Category", "ComponentLeftPanel")*@
                            <div class="d-split-row"></div>
                            <div id="ajaxProductNewest"></div>
                            @*@Html.Action("ProductNewest", "ComponentLeftPanel")*@
                            <div class="d-split-row"></div>
                            
                            @*@Html.Action("Advertising", "ComponentRightPanel")*@
                        </div>
                    </td>
                    <td class="d-split-col" />
                    <td>
                        <div id="content">
                            <div class="welcome">
                                Chào mừng đến với Vi Tính Trần Bảo

                            </div>

                        </div>

                        <div id="d-center">
                            @RenderBody()
                        </div>
                    </td>
                    <td class="d-split-col" />
                    <td>
                        <div id="d-right">
                            <div id="ajaxCategoryRight"></div>
                            @*@Html.Action("Category", "ComponentRightPanel")*@
                            <div class="d-split-row"></div>
                            @Html.Action("OnlineContact", "ComponentRightPanel")
                            <div class="d-split-row"></div>
                            @Html.Action("AboutUs", "ComponentRightPanel")
                            <div class="d-split-row"></div>
                            <div id="ajaxAdvertising"></div>
                            @*@Html.Action("Advertising", "ComponentRightPanel")*@
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="d-footer">
            <!-- Include Footer menu, Contact infor, Copyright -->
            @Html.Action("Footer", "ComponentHome")
        </div>
    </div>
</div>
